{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1>
        {% if editMode %}
            Modification thread
        {% else %}
            Création thread
        {% endif %}
    </h1>
    {{ form_start(formArticle) }}
        {{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
        {{ form_row(formArticle.content, {'attr': {'placeholder': "Contenu"}}) }}
        {{ form_row(formArticle.category) }}
        {{ form_row(formArticle.image, {'attr': {'placeholder': "Url"}}) }}
        {{ form_row(formArticle.category) }}
        <button type="submit" class="btn btn-success">
            {% if editMode %}
                Modifier
            {% else %}
                Créer
            {% endif %}
        </button>
    {{ form_end(formArticle) }}
{% endblock %}
