{% extends 'base.html.twig' %}

{% form_theme formComment 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <section class="articles">
        <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} catégorie {{ article.category.title }}
                <div class="content">
                    <img src="{{ article.image }}" alt="">
                    <p>{{ article.content }}</p>
                </div>
            </div>
        </article>
    </section>
    <section class="new-comment">
        {{ form_start(formComment) }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form_row(formComment.content, {'attr': {'placeholder': "Laisser un commentaire"}}) }}
                </div>
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-success">Envoyer</button>
                </div>
            </div>
        {{ form_end(formComment) }}
    </section>
    <section class="comments">
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.createdAt | date('d/m/Y à H:i') }}
                    </div>
                    <div class="col">
                        {{ comment.content }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
